* {
    /* So 100% means 100% */
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    /*font-family: Arial;*/
}

body {
    background-color: #FFF;
}

table {
    width: 100%;
}

.full-screen {
    height: calc(100vh - 7rem);
}

.app {
    position: relative;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.header {
    max-height: 4rem;
    height: 4rem;
    font-size: calc(10px + 2vmin);
    color: white;
}

.footer {
    bottom: 0;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    max-height: 3rem;
    height: 3rem;
    font-size: calc(10px + 2vmin);
    color: white;
}

.logo {
    height: 4rem;
    padding: 4px;
    width: 15%;
}

.footer span {
    float: right;
    color: #333333;
    font-size: 14px;
    line-height: 3rem;
}

/*.log-viewer {*/
/*    min-height: calc(100% - 80px);*/
/*    background-color: #ffffff;*/
/*}*/

.log-display {
    /*padding-right: 16px;*/
}

.log-display-header {
    font-size: calc(10px + 2vmin);
    color: white;
    background-color: #F5F5F5;
    min-height: 3.3rem;
    border-bottom: #E3E3E3 solid 1px;
}

.log-display-header .zero-padding {
    padding: 0px;
    margin: 0px;
}

.log-display .header-toolbar {
    background-color: #EAEAEA;
    height: 2.2rem;
    border-bottom: #E3E3E3 solid 1px;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    float: left;
}

.header-toolbar .query-explanation {
    color: #333333;
    font-size: 14px;
    vertical-align: middle;
    line-height: 2rem;
    max-height: 2.2rem;
    float: left;
}

.header-toolbar .actions {
    float: right;
    max-height: 2.2rem;
}

.header-toolbar .actions .btn-link {
    font-size: 14px;
}

.log-display .card-body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.dropdown-area {
    color: #333333;
    line-height: 3rem;
    padding-left: 16px;
    font-size: 16px;
}

.control-area {
    padding-right: 16px;
}

.control-area .icon {
    padding: 12px;
    color: #555555;
    height: 3rem;
    width: 3rem;
    vertical-align: middle;
}

.control-area button {
    border: 0px;
}

.dropdown-button button, .dropdown-button input {
    background: #FFFFFF;
    height: 28px;
    font-size: 16px;
    color: #333333;
    line-height: 14px;
    border: #CACACA solid 1px;
}

.dropdown-button input {
    max-width: 100%;
    border-radius: .25rem;
    padding: .375rem .75rem;
    margin-top: 11px;
}

.dropdown-button svg {
    margin-top: -3px;
    margin-left: -24px;
}

.dropdown-button .dropdown-toggle::after {
    margin-left: 15px;
    vertical-align: 0.1em;
    border-top: .5em solid #888888;
}

.dropdown-item {
    height: 3rem;
    vertical-align: middle;
    padding: 0px 16px;
}

.float-right {
    line-height: 3rem;
}

.hidden {
    display: none;
}

.float-right .dropdown-item {
    font-size: 14px;
    line-height: 32px;
    padding: 4px 10px;
    color: #555555;
}

.float-right button {
    background: transparent;
    border: 0px;
    color: #555555;
    font-style: italic;
    font-size: 14px;
}

.float-right .dropdown-toggle::after {
    vertical-align: 0.1em;
    border-top: .0em solid #888888;
}

.interactions {
    text-align: center;
}

.message-table {
    height: calc(100% - 5.5rem);
    width: 100%;
    float: left;
}

.scroll-list-container {
    height: calc(100% - 0rem);
}

.scroll-list {
    height: 100%;
    display: block;
    overflow-y: scroll;
    /*overflow: hidden;*/
}

.scroll-list .scroll-list-item {
    width: 100%;
    float: left;
    padding-top: 8px;
    padding-bottom: 8px;
}

.scroll-list-item .separated-line {
    height: 1px;
    background-color: #EEEEEE;
    margin-left: 20px;
    float: left;
    width: 97%;
}

.scroll-list-item div {
    padding-left: 24px;
    line-height: 2rem;
}

.scroll-list-item .timestamp {
    width: 15%;
    float: left;
}

.scroll-list-item .message {
    width: 85%;
    float: left;
}