* {
    /* So 100% means 100% */
    box-sizing: border-box;
}

html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
    background-color: #2D3848;
}

.full-screen {
    height: calc(100vh - 8rem);
}

.app {
    position: relative;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.header, .footer {
    min-height: 4rem;
    font-size: calc(10px + 2vmin);
    color: white;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.log-viewer {
    min-height: calc(100% - 80px);
    background-color: #ffffff;
}

.log-display {
    padding-right: 16px;
}

.empty-log {
    width: 100%;
    height: 100%;
    text-align: center;
    font-style: italic;
    color: #aaaaaa;
}